body {
    background-image: url('RainyGardenBlur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}